.navbar {
  background-color: #333; /* Color de fondo de la barra de navegación */
  color: white; /* Color del texto en la barra de navegación */
  padding: 10px 0; /* Espaciado interno */
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px; /* Ancho máximo del contenedor */
  margin: 0 auto; /* Centra horizontalmente */
  padding: 0 20px; /* Añade un poco de espacio a los lados */
}

.navbar-list {
  list-style-type: none; /* Elimina los estilos de la lista */
  display: flex;
  gap: 20px; /* Espacio entre elementos de la lista */
}

.navbar-item {
  font-size: 18px; /* Tamaño de fuente de los elementos de la lista */
}

.navbar-link {
  text-decoration: none; /* Elimina el subrayado de los enlaces */
  color: white; /* Color del texto en los enlaces */
}

.navbar-logo {
  background-color: ;
}

.navbar-cart {
  /* Estilos para el carrito */
}

.navbar-image {
  width: 100px; /* Ancho de la imagen del logo */
  height: auto; /* Altura automática para mantener la proporción */
}
